Repository Basiiii/Vizzy, pull requests merged in 2025-03, with the labels that each got.

#67 Login page
  frontend/vizzy/app/api/auth/login/route.ts
  frontend/vizzy/app/auth/login/components/user-login-form.tsx
  frontend/vizzy/app/auth/login/page.tsx
  frontend/vizzy/app/auth/login/schema/user-login-form-schema.ts
  frontend/vizzy/app/auth/login/utils/login-user.ts
Labels: enhancement, frontend

#68 reset-password page
  Frontend/vizzy/app/auth/reset-password/components/reset-password-form.tsx
  Frontend/vizzy/app/auth/reset-password/page.tsx
  Frontend/vizzy/app/auth/reset-password/schema/resetPasswordSchema.ts
  Frontend/vizzy/app/auth/reset-password/utils/sendResetEmail.ts
Labels: frontend

#71 Reset password
  frontend/vizzy/app/auth/reset-password/components/reset-password-form.tsx
  frontend/vizzy/app/auth/reset-password/page.tsx
  frontend/vizzy/app/auth/reset-password/schema/resetPasswordSchema.ts
  frontend/vizzy/app/auth/reset-password/utils/sendResetEmail.ts
Labels: frontend

#75 themeToggle button and doc update
  frontend/vizzy/app/auth/reset-password/components/reset-password-form.tsx
  frontend/vizzy/app/auth/reset-password/page.tsx
  frontend/vizzy/components/ui/card.tsx
Labels: enhancement, frontend

#76 Add JWT Auth
  backend/Vizzy.Api/Program.cs
  backend/Vizzy.Api/Vizzy.Api.csproj
  backend/Vizzy.Api/appsettings.json
  frontend/vizzy/app/page.tsx
Labels: backend

#66 change-password-frontend
  frontend/vizzy/app/auth/change-password/components/user-auth-form.tsx
  frontend/vizzy/app/auth/change-password/page.tsx
  frontend/vizzy/app/auth/change-password/schema/userAuthFormSchema.ts
  frontend/vizzy/app/auth/change-password/utils/updatepassword.ts
Labels: frontend

#78 Update Middleware
  frontend/vizzy/utils/supabase/middleware.ts
Labels: frontend

#80 Create nestjs backend
  backend/.gitignore
  backend/Vizzy.Api.Tests/UserControllerTests.cs
  backend/Vizzy.Api.Tests/Vizzy.Api.Tests.csproj
  backend/Vizzy.Api/.dockerignore
  backend/Vizzy.Api/Controllers/UserController.cs
  backend/Vizzy.Api/Dockerfile
  backend/Vizzy.Api/Models/UserManagement/Profile.cs
  backend/Vizzy.Api/Program.cs
  backend/Vizzy.Api/Properties/launchSettings.json
  backend/Vizzy.Api/Vizzy.Api.csproj
  backend/Vizzy.Api/Vizzy.Api.http
  backend/Vizzy.Api/Vizzy.Api.sln
  backend/Vizzy.Api/appsettings.Development.json
  backend/Vizzy.Api/appsettings.json
  backend/vizzy-backend/.eslintrc.json
  backend/vizzy-backend/.gitignore
  backend/vizzy-backend/.prettierrc
  backend/vizzy-backend/README.md
  backend/vizzy-backend/eslint.config.mjs
  backend/vizzy-backend/nest-cli.json
  backend/vizzy-backend/package-lock.json
  backend/vizzy-backend/package.json
  backend/vizzy-backend/src/app.controller.spec.ts
  backend/vizzy-backend/src/app.controller.ts
  backend/vizzy-backend/src/app.module.ts
  backend/vizzy-backend/src/app.service.ts
  backend/vizzy-backend/src/main.ts
  backend/vizzy-backend/src/redis/redis.service.spec.ts
  backend/vizzy-backend/src/redis/redis.service.ts
  backend/vizzy-backend/src/supabase/supabase.service.spec.ts
  backend/vizzy-backend/src/supabase/supabase.service.ts
  backend/vizzy-backend/src/user/models/user.model.ts
  backend/vizzy-backend/src/user/user.controller.spec.ts
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.module.ts
  backend/vizzy-backend/src/user/user.service.spec.ts
  backend/vizzy-backend/src/user/user.service.ts
  backend/vizzy-backend/test/app.e2e-spec.ts
  backend/vizzy-backend/test/jest-e2e.json
  backend/vizzy-backend/tsconfig.build.json
  backend/vizzy-backend/tsconfig.json
  frontend/vizzy/app/api/auth/signup/route.ts
  specification/diagrams/class-diagram.vpp
Labels: backend

#83 Create Footer & Dynamic Layout
  frontend/vizzy/app/auth/layout.tsx
  frontend/vizzy/app/globals.css
  frontend/vizzy/app/page.tsx
  frontend/vizzy/components/layout/footer.tsx
  frontend/vizzy/components/logo.tsx
  frontend/vizzy/components/ui/separator.tsx
  frontend/vizzy/constants/links.ts
  frontend/vizzy/package-lock.json
  frontend/vizzy/package.json
Labels: enhancement, frontend

#84 Add i18n
  frontend/vizzy/app/layout.tsx
  frontend/vizzy/app/page.tsx
  frontend/vizzy/i18n/request.ts
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
  frontend/vizzy/next.config.ts
  frontend/vizzy/package-lock.json
  frontend/vizzy/package.json
Labels: enhancement, frontend

#85 Button to Change Language
  frontend/vizzy/app/page.tsx
  frontend/vizzy/components/i18n/language-switcher.tsx
  frontend/vizzy/i18n/config.ts
  frontend/vizzy/i18n/request.ts
  frontend/vizzy/services/locale.ts
Labels: enhancement, frontend

#82 barra de navegação
  frontend/vizzy/components/ui/avatar.tsx
  frontend/vizzy/components/ui/nav-bar.tsx
  frontend/vizzy/package-lock.json
  frontend/vizzy/package.json
Labels: enhancement, frontend

#88 Account settings
  backend/vizzy-backend/src/constants/constants.ts
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.service.ts
  frontend/vizzy/app/account-settings/account/page.tsx
  frontend/vizzy/app/account-settings/components/account-settings-layout.tsx
  frontend/vizzy/app/account-settings/components/account-settings-sidebar.tsx
  frontend/vizzy/app/account-settings/profile/page.tsx
  frontend/vizzy/app/api/user/[id]/route.ts
  frontend/vizzy/app/auth/login/components/user-login-form.tsx
  frontend/vizzy/components/ui/switch.tsx
  frontend/vizzy/package-lock.json
  frontend/vizzy/package.json
Labels: frontend

#89 page routing correction
  frontend/vizzy/app/auth/login/components/user-login-form.tsx
Labels: frontend

#91 Implement signup backend
  backend/vizzy-backend/.eslintrc.json
  backend/vizzy-backend/eslint.config.mjs
  backend/vizzy-backend/package-lock.json
  backend/vizzy-backend/package.json
  backend/vizzy-backend/src/app.controller.spec.ts
  backend/vizzy-backend/src/auth/auth.controller.spec.ts
  backend/vizzy-backend/src/auth/auth.controller.ts
  backend/vizzy-backend/src/auth/auth.module.ts
  backend/vizzy-backend/src/auth/auth.service.spec.ts
  backend/vizzy-backend/src/auth/auth.service.ts
  backend/vizzy-backend/src/auth/dto/signup.dto.ts
  backend/vizzy-backend/src/auth/strategies/supabase.strategy.ts
  backend/vizzy-backend/src/main.ts
  backend/vizzy-backend/src/redis/redis.service.spec.ts
  backend/vizzy-backend/src/redis/redis.service.ts
  backend/vizzy-backend/src/supabase/supabase.service.spec.ts
  backend/vizzy-backend/src/supabase/supabase.service.ts
  backend/vizzy-backend/src/user/user.controller.spec.ts
  backend/vizzy-backend/src/user/user.service.spec.ts
  backend/vizzy-backend/src/user/user.service.ts
  backend/vizzy-backend/tsconfig.json
  frontend/vizzy/app/api/auth/signup/route.ts
  frontend/vizzy/app/auth/signup/components/user-signup-form.tsx
  frontend/vizzy/app/auth/signup/utils/signup-user.ts
  frontend/vizzy/app/page.tsx
Labels: backend

#92 mprove navigation bar with theme toggle and fixes
  frontend/vizzy/app/page.tsx
  frontend/vizzy/components/i18n/language-switcher.tsx
  frontend/vizzy/components/layout/footer.tsx
  frontend/vizzy/components/layout/nav-bar.tsx
  frontend/vizzy/components/layout/user-menu.tsx
  frontend/vizzy/components/logo.tsx
  frontend/vizzy/components/theme/theme-toggle.tsx
  frontend/vizzy/components/ui/nav-bar.tsx
Labels: enhancement, frontend

#94 Add Nav Translations
  frontend/vizzy/components/layout/user-menu.tsx
  frontend/vizzy/components/theme/theme-toggle.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
Labels: enhancement, frontend

#96 Implementação do endpoint de login no backend
  backend/vizzy-backend/package-lock.json
  backend/vizzy-backend/package.json
  backend/vizzy-backend/src/auth/auth.controller.ts
  backend/vizzy-backend/src/auth/auth.service.ts
  backend/vizzy-backend/src/auth/dto/login.dto.ts
  backend/vizzy-backend/src/user/user.service.ts
  frontend/vizzy/app/api/auth/login/route.ts
  frontend/vizzy/app/auth/login/utils/login-user.ts
Labels: enhancement, backend

#97 Create profile page
  frontend/vizzy/app/page.tsx
  frontend/vizzy/app/profile/[username]/components/user-listings.tsx
  frontend/vizzy/app/profile/[username]/layout.tsx
  frontend/vizzy/app/profile/[username]/page.tsx
  frontend/vizzy/components/layout/footer.tsx
  frontend/vizzy/components/ui/badge.tsx
  frontend/vizzy/components/ui/listing-card.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
  frontend/vizzy/next.config.ts
  frontend/vizzy/types/listing.ts
Labels: enhancement, frontend

#102 Add Functions to Get User Session Data
  frontend/vizzy/app/page.tsx
  frontend/vizzy/app/profile/[username]/layout.tsx
  frontend/vizzy/components/layout/nav-bar.tsx
  frontend/vizzy/components/layout/user-menu.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
  frontend/vizzy/package-lock.json
  frontend/vizzy/package.json
  frontend/vizzy/types/jwt-payload.ts
  frontend/vizzy/types/profile-metadata.ts
  frontend/vizzy/utils/cookies/get-client-cookie.ts
  frontend/vizzy/utils/cookies/get-server-cookie.ts
  frontend/vizzy/utils/token/decode-token.ts
  frontend/vizzy/utils/token/get-client-user-id.ts
  frontend/vizzy/utils/token/get-client-user.ts
  frontend/vizzy/utils/token/get-server-user-id.ts
  frontend/vizzy/utils/token/get-server-user.ts
Labels: enhancement, frontend

#105 Use Constants for Routing
  frontend/vizzy/app/account-settings/account/components/delete-account-button.tsx
  frontend/vizzy/app/account-settings/account/page.tsx
  frontend/vizzy/app/auth/change-password/components/user-auth-form.tsx
  frontend/vizzy/app/auth/login/components/user-login-form.tsx
  frontend/vizzy/app/auth/login/page.tsx
  frontend/vizzy/app/auth/reset-password/page.tsx
  frontend/vizzy/app/auth/signup/components/user-signup-form.tsx
  frontend/vizzy/app/auth/signup/page.tsx
  frontend/vizzy/app/profile/page.tsx
  frontend/vizzy/constants/links.ts
  frontend/vizzy/constants/routes.ts
Labels: frontend

#107 Create delete user endpoint
  backend/vizzy-backend/src/main.ts
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.service.ts
  frontend/vizzy/app/account-settings/account/utils/delete-user.ts
Labels: enhancement, backend

#110 Create Page
  frontend/vizzy/app/account-settings/account/components/delete-account-button.tsx
  frontend/vizzy/app/account-settings/account/page.tsx
  frontend/vizzy/app/account-settings/account/utils/delete-user.ts
  frontend/vizzy/app/account-settings/components/account-settings-layout.tsx
  frontend/vizzy/app/account-settings/components/account-settings-sidebar.tsx
  frontend/vizzy/app/account-settings/profile/page.tsx
  frontend/vizzy/app/settings/account/page.tsx
  frontend/vizzy/app/settings/layout.tsx
  frontend/vizzy/app/settings/page.tsx
  frontend/vizzy/app/settings/settings-navigation.tsx
  frontend/vizzy/components/ui/calendar.tsx
  frontend/vizzy/components/ui/checkbox.tsx
  frontend/vizzy/components/ui/popover.tsx
  frontend/vizzy/components/ui/radio-group.tsx
  frontend/vizzy/components/ui/select.tsx
  frontend/vizzy/components/ui/sheet.tsx
  frontend/vizzy/components/ui/sidebar.tsx
  frontend/vizzy/components/ui/textarea.tsx
  frontend/vizzy/components/ui/tooltip.tsx
  frontend/vizzy/hooks/use-mobile.ts
  frontend/vizzy/lib/api/contacts.ts
  frontend/vizzy/lib/api/profile.ts
  frontend/vizzy/package-lock.json
  frontend/vizzy/package.json
  frontend/vizzy/types/temp.ts
Labels: frontend

#111 feat: Adding middleware to frontend
  backend/vizzy-backend/dtos/user-verification.dto.ts
  backend/vizzy-backend/src/auth/auth.controller.ts
  backend/vizzy-backend/src/user/user.controller.ts
  frontend/vizzy/app/auth/change-password/components/user-auth-form.tsx
  frontend/vizzy/app/auth/login/components/user-login-form.tsx
  frontend/vizzy/app/auth/login/page.tsx
  frontend/vizzy/app/auth/reset-password/page.tsx
  frontend/vizzy/app/auth/signup/components/user-signup-form.tsx
  frontend/vizzy/app/auth/signup/page.tsx
  frontend/vizzy/app/profile/page.tsx
  frontend/vizzy/constants/auth.ts
  frontend/vizzy/constants/routes/protected-routes.ts
  frontend/vizzy/constants/routes/routes.ts
  frontend/vizzy/lib/auth/handle-session-verification.ts
  frontend/vizzy/lib/auth/refresh-session.ts
  frontend/vizzy/lib/auth/verify-session.ts
  frontend/vizzy/middleware.ts
  frontend/vizzy/utils/supabase/middleware.ts
Labels: frontend

#112 feat: Logout among other small UI improvements.
  frontend/vizzy/actions/auth/logout.ts
  frontend/vizzy/app/settings/layout.tsx
  frontend/vizzy/components/i18n/language-switcher.tsx
  frontend/vizzy/components/layout/login-button.tsx
  frontend/vizzy/components/layout/nav-bar.tsx
  frontend/vizzy/components/layout/user-menu.tsx
  frontend/vizzy/components/theme/theme-toggle.tsx
  frontend/vizzy/utils/cookies/delete-client-cookie.ts
  frontend/vizzy/utils/cookies/delete-server-cookie.ts
Labels: frontend

#108 Profile picture endpoint
  backend/vizzy-backend/package-lock.json
  backend/vizzy-backend/package.json
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.service.ts
Labels: backend

#119 Delete contact endpoint
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.service.ts
Labels: backend

#121 Add API Versioning
  backend/vizzy-backend/src/auth/auth.controller.ts
  backend/vizzy-backend/src/constants/api-versions.ts
  backend/vizzy-backend/src/contact/contact.controller.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/main.ts
  backend/vizzy-backend/src/profile/profile.controller.ts
  backend/vizzy-backend/src/user/user.controller.ts
Labels: backend

#122 Delete Contact Endpoint & Fixes
  backend/vizzy-backend/src/auth/auth.controller.spec.ts
  backend/vizzy-backend/src/auth/auth.service.spec.ts
  backend/vizzy-backend/src/contact/contact.controller.spec.ts
  backend/vizzy-backend/src/contact/contact.controller.ts
  backend/vizzy-backend/src/contact/contact.service.ts
  backend/vizzy-backend/src/contact/helpers/contact-cache.helper.ts
  backend/vizzy-backend/src/contact/helpers/contact-database.helper.ts
  backend/vizzy-backend/src/contact/helpers/contact-validator.helper.ts
  backend/vizzy-backend/src/dtos/contact/contact-response.dto.ts
  backend/vizzy-backend/src/dtos/contact/delete-contact-response.dto.ts
Labels: backend

#124 Criação da página de frontend da dashboard
  frontend/vizzy/app/dashboard/components/date-range-picker.tsx
  frontend/vizzy/app/dashboard/components/overview.tsx
  frontend/vizzy/app/dashboard/components/recent-sales.tsx
  frontend/vizzy/app/dashboard/layout.tsx
  frontend/vizzy/app/dashboard/layout/overview-page.tsx
  frontend/vizzy/app/dashboard/page.tsx
  frontend/vizzy/components/ui/navigation/tabs.tsx
  frontend/vizzy/package-lock.json
  frontend/vizzy/package.json
Labels: enhancement, frontend

#127 Settings page
  backend/vizzy-backend/src/auth/helpers/cookie.helper.ts
  backend/vizzy-backend/src/constants/storage.ts
  backend/vizzy-backend/src/contact/contact.service.ts
  backend/vizzy-backend/src/contact/helpers/contact-database.helper.ts
  backend/vizzy-backend/src/profile/helpers/profile-database.helper.ts
  backend/vizzy-backend/src/profile/helpers/profile-image.helper.ts
  backend/vizzy-backend/src/profile/profile.controller.ts
  frontend/vizzy/app/profile/[username]/layout.tsx
  frontend/vizzy/app/profile/[username]/page.tsx
  frontend/vizzy/app/settings/account/page.tsx
  frontend/vizzy/app/settings/components/ContactForm.tsx
  frontend/vizzy/app/settings/components/ContactsList.tsx
  frontend/vizzy/app/settings/components/ContactsSection.tsx
  frontend/vizzy/app/settings/components/PersonalInformation.tsx
  frontend/vizzy/app/settings/components/ProfilePicture.tsx
  frontend/vizzy/app/settings/hooks/useContacts.ts
  frontend/vizzy/app/settings/hooks/useProfileData.ts
  frontend/vizzy/app/settings/hooks/useProfileForm.ts
  frontend/vizzy/app/settings/layout.tsx
  frontend/vizzy/app/settings/page.tsx
  frontend/vizzy/components/ui/data-display/dialog.tsx
  frontend/vizzy/lib/actions/auth/delete-account.ts
  frontend/vizzy/lib/api/contacts.ts
  frontend/vizzy/lib/api/profile.ts
  frontend/vizzy/lib/constants/storage.ts
  frontend/vizzy/types/contact.ts
  frontend/vizzy/types/profile.ts
  frontend/vizzy/types/temp.ts
Labels: frontend, backend
