Repository Basiiii/Vizzy, pull requests merged in 2025-04, with the labels that each got.

#128 Refresh token
  backend/vizzy-backend/src/auth/auth.controller.ts
  backend/vizzy-backend/src/auth/auth.service.ts
  frontend/vizzy/lib/auth/refresh-session.ts
  frontend/vizzy/middleware.ts
Labels: enhancement, backend

#125 Criar pagina inicial
  frontend/vizzy/app/listing/layout.tsx
  frontend/vizzy/app/listing/page.tsx
  frontend/vizzy/app/page.tsx
  frontend/vizzy/components/ui/data-display/carousel.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
  frontend/vizzy/package-lock.json
  frontend/vizzy/package.json
Labels: frontend

#131 Logging backend
  backend/vizzy-backend/package-lock.json
  backend/vizzy-backend/package.json
  backend/vizzy-backend/src/app.module.ts
  backend/vizzy-backend/src/auth/auth.controller.ts
  backend/vizzy-backend/src/auth/auth.service.ts
  backend/vizzy-backend/src/auth/helpers/cookie.helper.ts
  backend/vizzy-backend/src/contact/contact.controller.ts
  backend/vizzy-backend/src/contact/contact.service.ts
  backend/vizzy-backend/src/contact/helpers/contact-cache.helper.ts
  backend/vizzy-backend/src/contact/helpers/contact-database.helper.ts
  backend/vizzy-backend/src/contact/helpers/contact-validator.helper.ts
  backend/vizzy-backend/src/listing/helpers/listing-cache.helper.ts
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/logging/logging.config.ts
  backend/vizzy-backend/src/logging/logging.module.ts
  backend/vizzy-backend/src/main.ts
  backend/vizzy-backend/src/profile/helpers/profile-cache.helper.ts
  backend/vizzy-backend/src/profile/helpers/profile-database.helper.ts
  backend/vizzy-backend/src/profile/helpers/profile-image.helper.ts
  backend/vizzy-backend/src/profile/profile.controller.ts
  backend/vizzy-backend/src/profile/profile.service.ts
  backend/vizzy-backend/src/user/helpers/user-cache.helper.ts
  backend/vizzy-backend/src/user/helpers/user-database.helper.ts
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.service.ts
Labels: enhancement, backend

#133 Logging backend
  backend/vizzy-backend/package-lock.json
  backend/vizzy-backend/package.json
  backend/vizzy-backend/src/contact/contact.controller.spec.ts
  backend/vizzy-backend/src/contact/helpers/contact-cache.helper.ts
  backend/vizzy-backend/src/contact/helpers/contact-database.helper.ts
  backend/vizzy-backend/src/contact/helpers/contact-validator.helper.ts
  backend/vizzy-backend/src/listing/helpers/listing-cache.helper.ts
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/logging/logging.config.ts
  backend/vizzy-backend/src/logging/logging.module.ts
  backend/vizzy-backend/src/main.ts
  backend/vizzy-backend/src/profile/helpers/profile-cache.helper.ts
  backend/vizzy-backend/src/profile/helpers/profile-database.helper.ts
  backend/vizzy-backend/src/profile/helpers/profile-image.helper.ts
  backend/vizzy-backend/src/user/helpers/user-cache.helper.ts
Labels: enhancement, backend

#134 Create SMTP Service & Health Endpoint
  backend/vizzy-backend/package-lock.json
  backend/vizzy-backend/package.json
  backend/vizzy-backend/src/app.controller.ts
  backend/vizzy-backend/src/app.module.ts
  backend/vizzy-backend/src/app.service.ts
  backend/vizzy-backend/src/email/email.module.ts
  backend/vizzy-backend/src/email/email.service.ts
Labels: backend

#135 Create Endpoints to Reset Email
  backend/vizzy-backend/src/app.module.ts
  backend/vizzy-backend/src/dtos/reset-password/reset-password.dto.ts
  backend/vizzy-backend/src/email/email.service.ts
  backend/vizzy-backend/src/password-reset/password-reset.controller.ts
  backend/vizzy-backend/src/password-reset/password-reset.module.ts
  backend/vizzy-backend/src/password-reset/password-reset.service.ts
Labels: backend

#136 Implementação do logging
  backend/vizzy-backend/src/app.module.ts
  backend/vizzy-backend/src/auth/auth.controller.ts
  backend/vizzy-backend/src/auth/auth.service.ts
  backend/vizzy-backend/src/contact/contact.controller.ts
  backend/vizzy-backend/src/contact/contact.service.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/logging/logging.module.ts
  backend/vizzy-backend/src/profile/profile.controller.ts
  backend/vizzy-backend/src/profile/profile.service.ts
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.service.ts
Labels: enhancement, backend

#138 Refactor Password Auth Pages
  backend/vizzy-backend/src/email/email.service.ts
  frontend/vizzy/app/auth/change-password/page.tsx
  frontend/vizzy/app/auth/change-password/utils/updatepassword.ts
  frontend/vizzy/app/auth/forgot-password/components/forgot-password-form.tsx
  frontend/vizzy/app/auth/forgot-password/page.tsx
  frontend/vizzy/app/auth/forgot-password/schema/forgot-password-schema.ts
  frontend/vizzy/app/auth/login/page.tsx
  frontend/vizzy/app/auth/reset-password/components/user-auth-form.tsx
  frontend/vizzy/app/auth/reset-password/page.tsx
  frontend/vizzy/app/auth/reset-password/schema/reset-password-form-schema.ts
  frontend/vizzy/app/auth/reset-password/utils/sendResetEmail.ts
  frontend/vizzy/lib/api/auth/password/reset-password.ts
  frontend/vizzy/lib/api/auth/password/send-reset-email.ts
  frontend/vizzy/lib/constants/routes/routes.ts
Labels: frontend

#140 create-dashboard-transactions
  frontend/vizzy/app/dashboard/layout/id-transactions-page.tsx
  frontend/vizzy/app/dashboard/layout/transactions-page.tsx
Labels: frontend

#142 Create proposal endpoint
  backend/vizzy-backend/src/app.module.ts
  backend/vizzy-backend/src/dtos/proposal/create-proposal.dto.ts
  backend/vizzy-backend/src/dtos/proposal/proposal-response.dto.ts
  backend/vizzy-backend/src/dtos/proposal/proposal.dto.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
Labels: enhancement, backend

#143 Create endpoint
  backend/vizzy-backend/package-lock.json
  backend/vizzy-backend/package.json
  backend/vizzy-backend/src/transactions/transactions.controller.ts
  backend/vizzy-backend/src/transactions/transactions.service.ts
Labels: frontend

#146 Create endpoints for dashboard
  backend/vizzy-backend/src/app.module.ts
  backend/vizzy-backend/src/dtos/transaction/transaction-options.dto.ts
  backend/vizzy-backend/src/dtos/transaction/transaction.dto.ts
  backend/vizzy-backend/src/transaction/helpers/transaction-cache.helper.ts
  backend/vizzy-backend/src/transaction/helpers/transaction-database.helper.ts
  backend/vizzy-backend/src/transaction/transaction.controller.ts
  backend/vizzy-backend/src/transaction/transaction.service.ts
  frontend/vizzy/app/dashboard/layout/overview-page.tsx
Labels: enhancement, backend

#147 Dashboard proposals listings tabs
  backend/package-lock.json
  backend/vizzy-backend/src/dtos/proposal/proposal.dto.ts
  backend/vizzy-backend/src/dtos/proposal/purchase-proposal.dto.ts
  backend/vizzy-backend/src/dtos/proposal/rental-proposal.dto.ts
  backend/vizzy-backend/src/dtos/proposal/swap-proposal.dto.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-cache.helper.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
  frontend/vizzy/app/dashboard/dashboard-page-client.tsx
  frontend/vizzy/app/dashboard/layout/listings-page.tsx
  frontend/vizzy/app/dashboard/layout/proposals-page.tsx
  frontend/vizzy/app/dashboard/page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/page.tsx
  frontend/vizzy/components/proposals/proposal-card.tsx
  frontend/vizzy/components/proposals/purchase-proposal-dialog.tsx
  frontend/vizzy/components/proposals/rental-proposal-dialog.tsx
  frontend/vizzy/components/proposals/swap-proposal-dialog.tsx
  frontend/vizzy/lib/api/fetch-user-listings.ts
  frontend/vizzy/lib/api/fetch-user-proposals.ts
  frontend/vizzy/types/proposal.ts
Labels: frontend, backend

#149 Create View Listing Page & Endpoint
  backend/vizzy-backend/src/constants/cache.constants.ts
  backend/vizzy-backend/src/dtos/listing/create-listing.dto.ts
  backend/vizzy-backend/src/dtos/listing/giveaway-listing.dto.ts
  backend/vizzy-backend/src/dtos/listing/listing-basic.dto.ts
  backend/vizzy-backend/src/dtos/listing/listing-union.dto.ts
  backend/vizzy-backend/src/dtos/listing/listing.dto.ts
  backend/vizzy-backend/src/dtos/listing/rental-listing.dto.ts
  backend/vizzy-backend/src/dtos/listing/sale-listing.dto.ts
  backend/vizzy-backend/src/dtos/listing/swap-listing.dto.ts
  backend/vizzy-backend/src/listing/helpers/listing-cache.helper.ts
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  frontend/vizzy/app/dashboard/layout/id-transactions-page.tsx
  frontend/vizzy/app/dashboard/layout/listings-page.tsx
  frontend/vizzy/app/dashboard/layout/transactions-page.tsx
  frontend/vizzy/app/listing/[id]/page.tsx
  frontend/vizzy/app/listing/page.tsx
  frontend/vizzy/app/profile/[username]/components/user-listings.tsx
  frontend/vizzy/app/profile/[username]/page.tsx
  frontend/vizzy/components/listings/listing-card.tsx
  frontend/vizzy/components/proposals/proposal-card.tsx
  frontend/vizzy/components/ui/common/badge.tsx
  frontend/vizzy/lib/api/fetch-user-listings.ts
  frontend/vizzy/lib/api/listings/listings.ts
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
  frontend/vizzy/types/listing.ts
Labels: frontend, backend

#151 Add Swagger API Documentation
  backend/vizzy-backend/package-lock.json
  backend/vizzy-backend/package.json
  backend/vizzy-backend/src/main.ts
Labels: backend

#152 Marketplace page
  backend/vizzy-backend/src/constants/cache.constants.ts
  backend/vizzy-backend/src/dtos/listing/listing-paginated-response.dto.ts
  backend/vizzy-backend/src/listing/helpers/listing-cache.helper.ts
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  frontend/vizzy/app/dashboard/layout/listings-page.tsx
  frontend/vizzy/app/globals.css
  frontend/vizzy/app/page.tsx
  frontend/vizzy/components/listings/listing-card.tsx
  frontend/vizzy/components/marketplace/marketplace.tsx
  frontend/vizzy/components/ui/navigation/pagination.tsx
  frontend/vizzy/lib/api/fetch-user-proposals.ts
  frontend/vizzy/lib/api/listings/fetch-user-listings.ts
  frontend/vizzy/lib/constants/routes/routes.ts
  frontend/vizzy/package-lock.json
  frontend/vizzy/package.json
Labels: frontend, backend

#153 Feat/geolocation filter
  backend/vizzy-backend/src/constants/cache.constants.ts
  backend/vizzy-backend/src/dtos/listing/listing-options.dto.ts
  backend/vizzy-backend/src/dtos/user/user-location.dto.ts
  backend/vizzy-backend/src/dtos/user/user.dto.ts
  backend/vizzy-backend/src/listing/helpers/listing-cache.helper.ts
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/user/helpers/user-cache.helper.ts
  backend/vizzy-backend/src/user/helpers/user-database.helper.ts
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.service.ts
  frontend/vizzy/components/marketplace/filters-section.tsx
  frontend/vizzy/components/marketplace/listings-grid.tsx
  frontend/vizzy/components/marketplace/marketplace.tsx
  frontend/vizzy/components/marketplace/pagination-controls.tsx
  frontend/vizzy/components/marketplace/search-bar.tsx
  frontend/vizzy/hooks/use-listings.ts
  frontend/vizzy/lib/api/listings/fetch-user-listings.ts
  frontend/vizzy/lib/services/user/location-service.ts
Labels: frontend, backend

#154 correção dos endpoints para as novas funções da BD
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
Labels: enhancement, backend

#155 Refactor da função de criar proposta
  backend/vizzy-backend/src/dtos/proposal/create-proposal.dto.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
Labels: backend

#156 Dashboard frontend changes
  frontend/vizzy/app/dashboard/layout/listings-page.tsx
  frontend/vizzy/app/dashboard/layout/proposals-page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/lib/api/fetch-user-proposals.ts
  frontend/vizzy/lib/api/listings/fetch-user-listings.ts
  frontend/vizzy/lib/utils/dates.ts
  frontend/vizzy/types/proposal.ts
Labels: frontend

#157 create block/unblock endpoints
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.service.ts
  frontend/vizzy/app/profile/[username]/page.tsx
  frontend/vizzy/components/ui/common/block-button.tsx
Labels: frontend, backend

#160 feat: improved email aesthetic
  backend/vizzy-backend/src/email/email.service.ts
  backend/vizzy-backend/src/email/templates/index.ts
  backend/vizzy-backend/src/email/templates/password-reset.template.ts
  backend/vizzy-backend/src/email/templates/welcome.template.ts
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.service.ts
Labels: backend

#162 test: added tests for the email service in backend
  backend/vizzy-backend/src/email/email.module.ts
  backend/vizzy-backend/src/email/email.service.spec.ts
  backend/vizzy-backend/src/email/email.service.ts
  backend/vizzy-backend/src/email/templates/index.ts
  backend/vizzy-backend/src/email/templates/password-reset.template.ts
  backend/vizzy-backend/src/email/templates/welcome.template.ts
Labels: backend

#163 Test/contacts api
  backend/vizzy-backend/src/constants/cache.constants.ts
  backend/vizzy-backend/src/contact/contact.controller.spec.ts
  backend/vizzy-backend/src/contact/contact.controller.ts
  backend/vizzy-backend/src/contact/contact.service.spec.ts
  backend/vizzy-backend/src/contact/contact.service.ts
  backend/vizzy-backend/src/contact/filters/contact.filter.ts
  backend/vizzy-backend/src/contact/helpers/contact-cache.helper.ts
  backend/vizzy-backend/src/contact/helpers/contact-database.helper.ts
  backend/vizzy-backend/src/contact/helpers/contact-validator.helper.ts
  backend/vizzy-backend/src/dtos/contact/contact-response.dto.ts
  backend/vizzy-backend/src/dtos/contact/contact.dto.ts
  backend/vizzy-backend/src/dtos/contact/create-contact.dto.ts
  backend/vizzy-backend/src/dtos/contact/delete-contact-response.dto.ts
  backend/vizzy-backend/src/dtos/contact/update-contact.dto.ts
Labels: backend

#164 fix: error in refresh token
  frontend/vizzy/components/proposals/purchase-proposal-dialog.tsx
  frontend/vizzy/lib/api/auth/session/refresh-session.ts
Labels: frontend

#165 Refactor/proposals-dashboard-page-frontend-and-backend
  backend/vizzy-backend/src/dtos/proposal/proposal-response.dto.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  frontend/vizzy/app/dashboard/dashboard-page-client.tsx
  frontend/vizzy/app/dashboard/layout/proposals-page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/components/proposals/proposal-card.tsx
  frontend/vizzy/components/ui/common/badge.tsx
  frontend/vizzy/lib/utils/dates.ts
  frontend/vizzy/types/proposal.ts
Labels: enhancement, frontend, backend

#166 fix:minor-conflicts
  backend/vizzy-backend/src/dtos/proposal/proposal.dto.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
Labels: backend

#167 Test/geocoding api
  backend/vizzy-backend/src/contact/tests/contact.controller.spec.ts
  backend/vizzy-backend/src/contact/tests/contact.service.spec.ts
  backend/vizzy-backend/src/dtos/geocoding/base-geocoding.dto.ts
  backend/vizzy-backend/src/dtos/geocoding/forward-geocoding.dto.ts
  backend/vizzy-backend/src/dtos/geocoding/geocoding.dto.ts
  backend/vizzy-backend/src/dtos/geocoding/reverse-geocoding.dto.ts
  backend/vizzy-backend/src/geocoding/filters/geocoding.filter.ts
  backend/vizzy-backend/src/geocoding/geocoding.controller.ts
  backend/vizzy-backend/src/geocoding/geocoding.service.ts
  backend/vizzy-backend/src/geocoding/helpers/geocoding-api.helper.ts
  backend/vizzy-backend/src/geocoding/helpers/geocoding-cache.helper.ts
  backend/vizzy-backend/src/geocoding/helpers/geocoding-validator.helper.ts
  backend/vizzy-backend/src/geocoding/tests/geocoding.controller.spec.ts
  backend/vizzy-backend/src/geocoding/tests/geocoding.service.spec.ts
  backend/vizzy-backend/src/types/supabase/supabase.ts
Labels: documentation, backend

#168 Docs/update readmes
  backend/README.md
  backend/package-lock.json
  backend/vizzy-backend/README.md
  backend/vizzy-backend/test/app.e2e-spec.ts
  frontend/README.md
  frontend/package-lock.json
  frontend/vizzy/README.md
Labels: documentation, frontend, backend

#169 Feat/update proposal status
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
  frontend/vizzy/types/create-proposal.ts
Labels: enhancement, backend

#170 Feat/giveaway-proposal-dialog
  backend/vizzy-backend/src/dtos/proposal/proposal.dto.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
  frontend/vizzy/app/dashboard/dashboard-page-client.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/components/proposals/giveaway-proposal-dialog.tsx
Labels: enhancement, frontend

#171 Feat/create proposal
  backend/vizzy-backend/src/dtos/proposal/create-proposal.dto.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/app/listing/[id]/page.tsx
  frontend/vizzy/components/proposals/purchase-proposal-dialog.tsx
  frontend/vizzy/components/proposals/rental-proposal-dialog.tsx
  frontend/vizzy/components/proposals/swap-proposal-dialog.tsx
  frontend/vizzy/lib/api/auth/session/refresh-session.ts
  frontend/vizzy/types/create-proposal.ts
Labels: enhancement, frontend, backend

#172 fix: frontend errors
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/components/proposals/giveaway-proposal-dialog.tsx
Labels: frontend

#173 Feat/attach images
  backend/vizzy-backend/src/constants/storage.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-image.helper.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
Labels: backend

#174 feat: get proposals
  backend/vizzy-backend/src/constants/cache.constants.ts
  backend/vizzy-backend/src/dtos/proposal/proposal-images.dto.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-cache.helper.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
Labels: backend

#176 feat:accepted-rejected-filters
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
  frontend/vizzy/app/dashboard/dashboard-page-client.tsx
  frontend/vizzy/app/dashboard/layout/proposals-page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/components/proposals/cancel-proposal-dialog.tsx
  frontend/vizzy/components/ui/overlay/alert-dialog.tsx
  frontend/vizzy/lib/api/proposals/fetch-user-proposals.ts
  frontend/vizzy/package-lock.json
  frontend/vizzy/package.json
Labels: enhancement, frontend, backend

#177 feat: upload-images
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  frontend/vizzy/app/dashboard/layout/proposals-page.tsx
  frontend/vizzy/components/proposals/swap-proposal-dialog.tsx
  frontend/vizzy/components/ui/common/block-button.tsx
  frontend/vizzy/components/ui/overlay/alert-dialog.tsx
  frontend/vizzy/lib/api/proposals/create-proposal.ts
  frontend/vizzy/lib/api/proposals/upload-proposal-images.ts
Labels: frontend

#180 feat:show-swap-proposal-images
  frontend/vizzy/app/dashboard/layout.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/lib/api/proposals/fetch-proposal-images.ts
  frontend/vizzy/next.config.ts
  frontend/vizzy/types/proposal-images.ts
Labels: enhancement, frontend

#181 feat: creation of endpoint and API call
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
  frontend/vizzy/lib/api/proposals/update-proposal-status.ts
Labels: enhancement, backend

#183 feat:frontend can now handle the management of proposals
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/components/proposals/cancel-proposal-dialog.tsx
Labels: enhancement, frontend

#184 Feat/upload images listing
  backend/vizzy-backend/src/constants/cache.constants.ts
  backend/vizzy-backend/src/dtos/listing/listing-images.dto.ts
  backend/vizzy-backend/src/listing/helpers/listing-cache.helper.ts
  backend/vizzy-backend/src/listing/helpers/listing-image.helper.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  frontend/vizzy/lib/api/listings/fetch-listing-images.ts
  frontend/vizzy/lib/api/listings/upload-listing-images.ts
  frontend/vizzy/types/listing-images.ts
Labels: enhancement, backend

#185 test: testes no controller e service dos users
  backend/vizzy-backend/src/dtos/user/user-location.dto.ts
  backend/vizzy-backend/src/dtos/user/user.dto.ts
  backend/vizzy-backend/src/user/tests/user.controller.spec.ts
  backend/vizzy-backend/src/user/tests/user.service.spec.ts
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.service.ts
Labels: documentation, backend

#186 test: added tests for swap-password
  backend/vizzy-backend/src/password-reset/tests/password-reset.controller.spec.ts
  backend/vizzy-backend/src/password-reset/tests/password-reset.service.spec.ts
Labels: backend

#187 docs: added swagger docs & jsdoc
  backend/vizzy-backend/src/password-reset/password-reset.controller.ts
  backend/vizzy-backend/src/password-reset/password-reset.service.ts
Labels: backend

#193 docs: added swagger docs & jsdoc
  backend/vizzy-backend/src/dtos/profile/profile-verification.dto.ts
  backend/vizzy-backend/src/dtos/profile/profile.dto.ts
  backend/vizzy-backend/src/dtos/profile/update-profile.dto.ts
  backend/vizzy-backend/src/profile/helpers/profile-cache.helper.ts
  backend/vizzy-backend/src/profile/helpers/profile-database.helper.ts
  backend/vizzy-backend/src/profile/helpers/profile-image.helper.ts
  backend/vizzy-backend/src/profile/profile.controller.ts
  backend/vizzy-backend/src/profile/profile.service.ts
  backend/vizzy-backend/src/profile/tests/profile.service.spec.ts
Labels: documentation, backend

#194 Feat/create listing dialog
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  frontend/vizzy/app/dashboard/dashboard-page-client.tsx
  frontend/vizzy/app/dashboard/layout/listings-page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/app/listing/[id]/page.tsx
  frontend/vizzy/components/proposals/rental-proposal-dialog.tsx
  frontend/vizzy/components/ui/data-display/date-range-picker.tsx
  frontend/vizzy/components/ui/overlay/create-listing-dialog.tsx
  frontend/vizzy/lib/api/listings/create-listing.ts
  frontend/vizzy/lib/api/listings/upload-listing-images.ts
  frontend/vizzy/lib/api/proposals/create-proposal.ts
  frontend/vizzy/lib/schemas/listing-schema.ts
  frontend/vizzy/lib/utils/dates.ts
  frontend/vizzy/types/listing.ts
Labels: enhancement, frontend, backend

#195 feat:new dashboard menu on the navbar
  frontend/vizzy/app/listing/layout.tsx
  frontend/vizzy/app/page.tsx
  frontend/vizzy/components/layout/nav-bar/user-menu.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
Labels: enhancement, frontend

#196 test: criação de testes e documentação dos ficheiros de listings
  backend/vizzy-backend/src/dtos/listing/create-listing.dto.ts
  backend/vizzy-backend/src/dtos/listing/listing-basic.dto.ts
  backend/vizzy-backend/src/dtos/listing/listing-images.dto.ts
  backend/vizzy-backend/src/dtos/listing/listing-paginated-response.dto.ts
  backend/vizzy-backend/src/dtos/listing/listing.dto.ts
  backend/vizzy-backend/src/listing/helpers/listing-cache.helper.ts
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/listing/helpers/listing-image.helper.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/listing/tests/listing.controller.spec.ts
  backend/vizzy-backend/src/listing/tests/listing.service.spec.ts
  backend/vizzy-backend/src/user/helpers/user-cache.helper.ts
  backend/vizzy-backend/src/user/helpers/user-database.helper.ts
Labels: documentation, backend

#199 chore: add global api rate limit
  backend/vizzy-backend/package-lock.json
  backend/vizzy-backend/package.json
  backend/vizzy-backend/src/app.module.ts
  backend/vizzy-backend/src/common/guards/throttler.guard.ts
  backend/vizzy-backend/src/main.ts
Labels: backend

#202 feat: ctrl-enter shortcut to submit auth forms
  frontend/vizzy/app/auth/forgot-password/components/forgot-password-form.tsx
  frontend/vizzy/app/auth/login/components/user-login-form.tsx
  frontend/vizzy/app/auth/reset-password/components/user-auth-form.tsx
  frontend/vizzy/app/auth/signup/components/steps/account-setup-step.tsx
  frontend/vizzy/app/auth/signup/components/steps/basic-info-step.tsx
  frontend/vizzy/app/auth/signup/components/steps/location-step.tsx
Labels: frontend

#201 refactor: proposals endpoint
  backend/vizzy-backend/src/dtos/proposal/fetch-proposals.dto.ts
  backend/vizzy-backend/src/dtos/proposal/proposal-response.dto.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-cache.helper.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
  frontend/vizzy/app/dashboard/dashboard-page-client.tsx
  frontend/vizzy/app/dashboard/layout/proposals-page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/page.tsx
  frontend/vizzy/components/proposals/proposal-card.tsx
  frontend/vizzy/components/ui/data-display/filter-dropdown.tsx
  frontend/vizzy/lib/api/proposals/fetch-user-proposals.ts
  frontend/vizzy/types/proposal.ts
Labels: enhancement, frontend, backend

#204 fix: 'prending' filter not being selected by default
  frontend/vizzy/app/dashboard/dashboard-page-client.tsx
  frontend/vizzy/app/dashboard/layout/proposals-page.tsx
Labels: frontend

#205 feat: dashboard total value
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
  frontend/vizzy/app/dashboard/layout/overview-page.tsx
  frontend/vizzy/lib/api/proposals/fetch-user-balance.ts
Labels: enhancement, frontend, backend

#206 refactor: create small variant of listing card
  frontend/vizzy/app/dashboard/layout/listings-page.tsx
  frontend/vizzy/components/listings/listing-card-normal.tsx
  frontend/vizzy/components/listings/listing-card-small.tsx
  frontend/vizzy/components/listings/listing-card.tsx
  frontend/vizzy/components/proposals/proposal-card.tsx
Labels: frontend

#207 refactor: global cache helper
  backend/vizzy-backend/src/common/helpers/global-cache.helper.ts
  backend/vizzy-backend/src/constants/cache.constants.ts
  backend/vizzy-backend/src/constants/cache/contact.cache-keys.ts
  backend/vizzy-backend/src/constants/cache/geocoding.cache-keys.ts
  backend/vizzy-backend/src/constants/cache/index.ts
  backend/vizzy-backend/src/constants/cache/listing.cache-keys.ts
  backend/vizzy-backend/src/constants/cache/profile.cache-keys.ts
  backend/vizzy-backend/src/constants/cache/proposal.cache-keys.ts
  backend/vizzy-backend/src/constants/cache/transaction.cache-keys.ts
  backend/vizzy-backend/src/constants/cache/user.cache-keys.ts
  backend/vizzy-backend/src/contact/contact.service.ts
  backend/vizzy-backend/src/contact/helpers/contact-cache.helper.ts
  backend/vizzy-backend/src/contact/tests/contact.service.spec.ts
  backend/vizzy-backend/src/geocoding/geocoding.service.ts
  backend/vizzy-backend/src/geocoding/helpers/geocoding-cache.helper.ts
  backend/vizzy-backend/src/geocoding/tests/geocoding.service.spec.ts
  backend/vizzy-backend/src/listing/helpers/listing-cache.helper.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/listing/tests/listing.service.spec.ts
  backend/vizzy-backend/src/profile/helpers/profile-cache.helper.ts
  backend/vizzy-backend/src/profile/profile.service.ts
  backend/vizzy-backend/src/profile/tests/profile.service.spec.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
  backend/vizzy-backend/src/transaction/transaction.service.ts
  backend/vizzy-backend/src/user/helpers/user-cache.helper.ts
  backend/vizzy-backend/src/user/tests/user.service.spec.ts
  backend/vizzy-backend/src/user/user.service.ts
Labels: backend

#208 refactor: refactor api calls in lib folder
  frontend/vizzy/app/auth/signup/components/steps/location-step.tsx
  frontend/vizzy/app/profile/[username]/page.tsx
  frontend/vizzy/app/settings/components/PersonalInformation.tsx
  frontend/vizzy/app/settings/components/ProfilePicture.tsx
  frontend/vizzy/app/settings/hooks/useContacts.ts
  frontend/vizzy/app/settings/hooks/useProfileData.ts
  frontend/vizzy/hooks/use-listings.ts
  frontend/vizzy/lib/api/contacts/contacts.ts
  frontend/vizzy/lib/api/core/client.ts
  frontend/vizzy/lib/api/location/geocoding.ts
  frontend/vizzy/lib/api/profile/avatar.ts
  frontend/vizzy/lib/api/profile/profile.ts
  frontend/vizzy/lib/api/user/location.ts
  frontend/vizzy/lib/services/auth/signup-service.ts
  frontend/vizzy/lib/services/location/location-service.ts
  frontend/vizzy/lib/services/user/location-service.ts
  frontend/vizzy/lib/utils/try-catch.ts
  frontend/vizzy/types/location.ts
  frontend/vizzy/types/user.ts
Labels: frontend

#209 refactor: backend to use the new params names from supabase
  backend/vizzy-backend/src/auth/auth.service.ts
  backend/vizzy-backend/src/contact/helpers/contact-database.helper.ts
  backend/vizzy-backend/src/dtos/listing/create-listing.dto.ts
  backend/vizzy-backend/src/dtos/listing/listing.dto.ts
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/listing/tests/listing.controller.spec.ts
  backend/vizzy-backend/src/profile/helpers/profile-database.helper.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  backend/vizzy-backend/src/user/helpers/user-database.helper.ts
  frontend/vizzy/app/dashboard/dashboard-page-client.tsx
  frontend/vizzy/app/dashboard/layout/listings-page.tsx
  frontend/vizzy/app/dashboard/layout/transactions-page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/components/listings/create-listing-dialog.tsx
  frontend/vizzy/components/proposals/cancel-proposal-dialog.tsx
  frontend/vizzy/components/proposals/proposal-card.tsx
  frontend/vizzy/components/ui/common/badge.tsx
  frontend/vizzy/lib/api/listings/update-listing-images-url.ts
  frontend/vizzy/lib/api/listings/upload-listing-images.ts
  frontend/vizzy/lib/schemas/listing-schema.ts
  frontend/vizzy/types/create-listing.ts
  frontend/vizzy/types/listing.ts
Labels: enhancement, frontend, backend

#210 fix: listing images
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  frontend/vizzy/app/listing/[id]/page.tsx
  frontend/vizzy/components/proposals/purchase-proposal-dialog.tsx
  frontend/vizzy/components/proposals/rental-proposal-dialog.tsx
  frontend/vizzy/components/proposals/swap-proposal-dialog.tsx
  frontend/vizzy/lib/api/listings/fetch-listing-images.ts
Labels: frontend

#211 fix: user data
  backend/vizzy-backend/src/user/helpers/user-database.helper.ts
  frontend/vizzy/components/profiles/profile-hover-card.tsx
  frontend/vizzy/components/ui/data-display/hover-card.tsx
  frontend/vizzy/package-lock.json
  frontend/vizzy/package.json
Labels: backend

#214 refactor: auth jwt
  backend/vizzy-backend/src/auth/auth.controller.ts
  backend/vizzy-backend/src/auth/auth.module.ts
  backend/vizzy-backend/src/auth/auth.service.ts
  backend/vizzy-backend/src/auth/guards/jwt.auth.guard.ts
  backend/vizzy-backend/src/auth/helpers/cookie.helper.ts
  backend/vizzy-backend/src/auth/helpers/error.helper.ts
  backend/vizzy-backend/src/dtos/auth/auth-response.dto.ts
  backend/vizzy-backend/src/dtos/auth/refresh-token.dto.ts
  backend/vizzy-backend/src/dtos/auth/user-verification.dto.ts
  backend/vizzy-backend/src/dtos/user/user.dto.ts
  backend/vizzy-backend/src/main.ts
  frontend/vizzy/app/auth/refresh/page.tsx
  frontend/vizzy/app/refresh/page.tsx
  frontend/vizzy/app/settings/account/page.tsx
  frontend/vizzy/app/settings/components/personal-information.tsx
  frontend/vizzy/app/settings/page.tsx
  frontend/vizzy/components/layout/nav-bar/user-menu.tsx
  frontend/vizzy/lib/actions/auth/delete-account-action.ts
  frontend/vizzy/lib/actions/auth/login-action.ts
  frontend/vizzy/lib/actions/auth/logout-action.ts
  frontend/vizzy/lib/actions/auth/refresh-action.ts
  frontend/vizzy/lib/actions/auth/signup-action.ts
  frontend/vizzy/lib/actions/auth/token-action.ts
  frontend/vizzy/lib/api/auth/actions/delete-account.ts
  frontend/vizzy/lib/api/auth/actions/logout.ts
  frontend/vizzy/lib/api/auth/authentication/delete-account.ts
  frontend/vizzy/lib/api/auth/authentication/login.ts
  frontend/vizzy/lib/api/auth/authentication/refresh.ts
  frontend/vizzy/lib/api/auth/authentication/signup.ts
  frontend/vizzy/lib/api/auth/authentication/verify.ts
  frontend/vizzy/lib/api/auth/session/refresh-session.ts
  frontend/vizzy/lib/api/auth/session/session-service.ts
  frontend/vizzy/lib/api/auth/session/types.ts
  frontend/vizzy/lib/api/auth/session/verify-session.ts
  frontend/vizzy/lib/api/core/client.ts
  frontend/vizzy/lib/constants/routes/routes.ts
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
  frontend/vizzy/middleware.ts
  frontend/vizzy/types/user.ts
Labels: frontend, backend

#216 fix: dashboard pages
  backend/vizzy-backend/src/dtos/proposal/proposal-response.dto.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  frontend/vizzy/app/dashboard/dashboard-page-client.tsx
  frontend/vizzy/app/dashboard/layout/overview-page.tsx
  frontend/vizzy/app/dashboard/layout/proposals-page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/components/proposals/proposal-card.tsx
  frontend/vizzy/lib/api/proposals/fetch-user-balance.ts
  frontend/vizzy/lib/api/proposals/fetch-user-proposals.ts
  frontend/vizzy/lib/api/proposals/update-proposal-status.ts
  frontend/vizzy/types/balance.ts
  frontend/vizzy/types/proposal.ts
Labels: frontend

#217 fix: frontend api calls
  frontend/vizzy/app/dashboard/layout/listings-page.tsx
  frontend/vizzy/app/dashboard/layout/proposals-page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/hooks/use-listings.ts
  frontend/vizzy/lib/api/listings/fetch-user-listings.ts
  frontend/vizzy/lib/api/proposals/fetch-user-proposals.ts
  frontend/vizzy/lib/api/proposals/update-proposal-status.ts
  frontend/vizzy/lib/utils/token/get-server-user-action.ts
Labels: frontend

#218 fix: api calls
  frontend/vizzy/app/dashboard/layout/overview-page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/app/listing/[id]/page.tsx
  frontend/vizzy/lib/api/listings/create-listing.ts
  frontend/vizzy/lib/api/listings/fetch-listing-images.ts
  frontend/vizzy/lib/api/listings/listings.ts
  frontend/vizzy/lib/api/listings/update-listing-images-url.ts
  frontend/vizzy/lib/api/listings/upload-listing-images.ts
  frontend/vizzy/lib/api/proposals/create-proposal.ts
  frontend/vizzy/lib/api/proposals/fetch-proposal-images.ts
  frontend/vizzy/lib/api/proposals/fetch-user-balance.ts
  frontend/vizzy/lib/api/proposals/upload-proposal-images.ts
  frontend/vizzy/lib/utils/token/get-client-user-id.ts
  frontend/vizzy/lib/utils/token/get-client-user.ts
  frontend/vizzy/types/proposal-response.ts
Labels: frontend

#221 refactor: cancel proposal endpoint and frontend api call
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
  frontend/vizzy/components/proposals/cancel-proposal-dialog.tsx
  frontend/vizzy/lib/api/proposals/cancel-proposal.ts
Labels: frontend, backend

#222 test: implementation of unit tests for the proposals service and cont…
  backend/vizzy-backend/src/proposal/proposal.service.ts
  backend/vizzy-backend/src/proposal/tests/proposal.controller.spec.ts
  backend/vizzy-backend/src/proposal/tests/proposal.service.spec.ts
Labels: backend

#223 feat: select category
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/listing/tests/listing.controller.spec.ts
  frontend/vizzy/components/listings/create-listing-dialog.tsx
  frontend/vizzy/lib/api/listings/get-product-categories.ts
Labels: enhancement, frontend, backend

#224 test: user performance tests
  backend/vizzy-backend/.eslintignore
  backend/vizzy-backend/eslint.config.mjs
  backend/vizzy-backend/k6/user-lookup.k6.js
  backend/vizzy-backend/src/main.ts
  backend/vizzy-backend/src/redis/redis.service.ts
  backend/vizzy-backend/src/user/user.service.ts
  backend/vizzy-backend/supabase/config.toml
  backend/vizzy-backend/supabase/migrations/20250422200932_remote_schema.sql
  backend/vizzy-backend/supabase/seeds/backup.sql
  backend/vizzy-backend/tsconfig.json
Labels: backend

#225 fix: signup page
  backend/vizzy-backend/supabase/migrations/20250422200932_remote_schema.sql
  backend/vizzy-backend/supabase/seeds/backup.sql
  frontend/vizzy/app/auth/signup/components/user-signup-form.tsx
  frontend/vizzy/lib/actions/auth/signup-action.ts
  frontend/vizzy/lib/api/auth/authentication/signup.ts
  frontend/vizzy/lib/services/auth/signup-service.ts
Labels: backend

#226 fix: prod errors
  frontend/vizzy/app/profile/[username]/components/user-listings.tsx
  frontend/vizzy/app/settings/hooks/useContacts.ts
  frontend/vizzy/app/settings/hooks/useProfileData.ts
  frontend/vizzy/components/listings/create-listing-dialog.tsx
  frontend/vizzy/components/proposals/swap-proposal-dialog.tsx
  frontend/vizzy/lib/actions/auth/get-user-metadata-action.ts
  frontend/vizzy/lib/services/auth/signup-service.ts
Labels: frontend

#227 fix: settings
  backend/vizzy-backend/src/contact/helpers/contact-database.helper.ts
  backend/vizzy-backend/src/profile/helpers/profile-image.helper.ts
  backend/vizzy-backend/src/profile/profile.controller.ts
  backend/vizzy-backend/src/user/helpers/user-database.helper.ts
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.service.ts
  frontend/vizzy/app/auth/signup/components/steps/location-step.tsx
  frontend/vizzy/app/components/forms/location-form.tsx
  frontend/vizzy/app/dashboard/layout/proposals-page.tsx
  frontend/vizzy/app/settings/account/page.tsx
  frontend/vizzy/app/settings/components/contact-form.tsx
  frontend/vizzy/app/settings/components/contacts-list.tsx
  frontend/vizzy/app/settings/components/contacts-section.tsx
  frontend/vizzy/app/settings/components/location-settings.tsx
  frontend/vizzy/app/settings/components/personal-information.tsx
  frontend/vizzy/app/settings/components/profile-picture.tsx
  frontend/vizzy/app/settings/page.tsx
  frontend/vizzy/components/proposals/loading-proposal-card.tsx
  frontend/vizzy/lib/actions/auth/delete-account-action.ts
  frontend/vizzy/lib/api/contacts/contacts.ts
  frontend/vizzy/lib/api/core/client.ts
  frontend/vizzy/lib/api/profile/avatar.ts
  frontend/vizzy/lib/api/profile/profile.ts
  frontend/vizzy/lib/api/user/location.ts
Labels: frontend, backend

#228 refactor: backend api
  backend/vizzy-backend/package-lock.json
  backend/vizzy-backend/package.json
  backend/vizzy-backend/src/app.controller.ts
  backend/vizzy-backend/src/app.module.ts
  backend/vizzy-backend/src/common/filters/http-exception.filter.ts
  backend/vizzy-backend/src/common/filters/validation-exception.filter.ts
  backend/vizzy-backend/src/common/guards/throttler.guard.ts
  backend/vizzy-backend/src/common/helpers/global-cache.helper.ts
  backend/vizzy-backend/src/constants/api-versions.ts
  backend/vizzy-backend/src/constants/auth.constants.ts
  backend/vizzy-backend/src/constants/cache/contact.cache-keys.ts
  backend/vizzy-backend/src/constants/cache/geocoding.cache-keys.ts
  backend/vizzy-backend/src/constants/cache/index.ts
  backend/vizzy-backend/src/constants/cache/listing.cache-keys.ts
  backend/vizzy-backend/src/constants/cache/profile.cache-keys.ts
  backend/vizzy-backend/src/constants/cache/proposal.cache-keys.ts
  backend/vizzy-backend/src/constants/cache/transaction.cache-keys.ts
  backend/vizzy-backend/src/constants/cache/user.cache-keys.ts
  backend/vizzy-backend/src/constants/storage.ts
  backend/vizzy-backend/src/constants/user.constants.ts
  backend/vizzy-backend/src/contact/helpers/contact-database.helper.ts
  backend/vizzy-backend/src/geocoding/geocoding.service.ts
  backend/vizzy-backend/src/main.ts
  backend/vizzy-backend/src/password-reset/password-reset.service.ts
  backend/vizzy-backend/src/profile/profile.controller.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-image.helper.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-status.helper.ts
  backend/vizzy-backend/src/setup/setup-cors.ts
  backend/vizzy-backend/src/setup/setup-environment-guards.ts
  backend/vizzy-backend/src/setup/setup-global-filters.ts
  backend/vizzy-backend/src/setup/setup-global-pipes.ts
  backend/vizzy-backend/src/setup/setup-logger.ts
  backend/vizzy-backend/src/setup/setup-swagger-docs.ts
  backend/vizzy-backend/src/setup/setup-versioning.ts
  backend/vizzy-backend/src/supabase/supabase.service.ts
  backend/vizzy-backend/src/transaction/helpers/transaction-cache.helper.ts
  backend/vizzy-backend/src/transaction/helpers/transaction-database.helper.ts
  backend/vizzy-backend/src/transaction/transaction.controller.ts
  backend/vizzy-backend/src/transaction/transaction.service.ts
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.service.ts
Labels: backend

#230 test: integration tests for the contacts database helper
  backend/vizzy-backend/package.json
  backend/vizzy-backend/src/contact/tests/integration/contact.database-helper.integration-spec.ts
  backend/vizzy-backend/src/contact/tests/unit/contact.controller.spec.ts
  backend/vizzy-backend/src/contact/tests/unit/contact.service.spec.ts
  backend/vizzy-backend/supabase/config.toml
  backend/vizzy-backend/supabase/seeds/backup.sql
  backend/vizzy-backend/supabase/seeds/contacts.sql
  backend/vizzy-backend/supabase/seeds/profiles.sql
  backend/vizzy-backend/test/jest-integration.json
  backend/vizzy-backend/test/setup.ts
  backend/vizzy-backend/tsconfig.json
Labels: backend

#231 test: user API performance tests
  backend/vizzy-backend/.gitignore
  backend/vizzy-backend/k6/user-block-status.k6.js
  backend/vizzy-backend/k6/user-get-by-id.k6.js
  backend/vizzy-backend/k6/user-location.k6.js
  backend/vizzy-backend/k6/user-lookup.k6.js
  backend/vizzy-backend/k6/user-search.k6.js
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/supabase/config.toml
  backend/vizzy-backend/supabase/seeds/location.sql
  backend/vizzy-backend/supabase/seeds/profiles.sql
Labels: backend

#236 test: update user performance tests
  backend/vizzy-backend/k6/user-search.k6.js
  backend/vizzy-backend/k6/user-tests/cached/user-block-status.k6.js
  backend/vizzy-backend/k6/user-tests/cached/user-get-by-id.k6.js
  backend/vizzy-backend/k6/user-tests/cached/user-location.k6.js
  backend/vizzy-backend/k6/user-tests/cached/user-lookup.k6.js
  backend/vizzy-backend/k6/user-tests/non-cached/user-block-status.k6.js
  backend/vizzy-backend/k6/user-tests/non-cached/user-get-by-id.k6.js
  backend/vizzy-backend/k6/user-tests/non-cached/user-location.k6.js
  backend/vizzy-backend/k6/user-tests/non-cached/user-lookup.k6.js
  backend/vizzy-backend/src/constants/cache/user.cache-keys.ts
  backend/vizzy-backend/src/user/tests/user.controller.spec.ts
  backend/vizzy-backend/src/user/tests/user.service.spec.ts
  backend/vizzy-backend/src/user/user.controller.ts
  backend/vizzy-backend/src/user/user.service.ts
Labels: backend

#237 test: user database helper integration tests
  backend/vizzy-backend/src/user/helpers/user-database.helper.ts
  backend/vizzy-backend/src/user/tests/integration/user.database-helper.integration-spec.ts
  backend/vizzy-backend/src/user/tests/unit/user.controller.spec.ts
  backend/vizzy-backend/src/user/tests/unit/user.service.spec.ts
  backend/vizzy-backend/supabase/config.toml
  backend/vizzy-backend/supabase/seeds/location.sql
Labels: backend

#238 test: performance tests for listings endpoints
  backend/vizzy-backend/k6/listings/cached/common.js
  backend/vizzy-backend/k6/listings/cached/get-home-listings.k6.js
  backend/vizzy-backend/k6/listings/cached/get-listing-by-id.k6.js
  backend/vizzy-backend/k6/listings/cached/get-user-listings.k6.js
  backend/vizzy-backend/k6/listings/non-cached/common.js
  backend/vizzy-backend/k6/listings/non-cached/get-home-listings.k6.js
  backend/vizzy-backend/k6/listings/non-cached/get-listing-by-id.k6.js
  backend/vizzy-backend/k6/listings/non-cached/get-user-listings.k6.js
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/listing/tests/listing.controller.spec.ts
  backend/vizzy-backend/supabase/config.toml
  backend/vizzy-backend/supabase/seeds/listing_statuses.sql
  backend/vizzy-backend/supabase/seeds/listing_types.sql
  backend/vizzy-backend/supabase/seeds/listings.sql
  backend/vizzy-backend/supabase/seeds/product_categories.sql
  backend/vizzy-backend/supabase/seeds/product_conditions.sql
Labels: backend

#239 test: proposal tests
  backend/vizzy-backend/k6/proposal-tests/cached/proposal-get-all.k6.js
  backend/vizzy-backend/k6/proposal-tests/cached/proposal-get-balance.k6.js
  backend/vizzy-backend/k6/proposal-tests/cached/proposal-get-by-id.k6.js
  backend/vizzy-backend/k6/proposal-tests/non-cached/proposal-get-all.k6.js
  backend/vizzy-backend/k6/proposal-tests/non-cached/proposal-get-balance.k6.js
  backend/vizzy-backend/k6/proposal-tests/non-cached/proposal-get-by-id.k6.js
  backend/vizzy-backend/src/dtos/proposal/proposal-response.dto.ts
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  backend/vizzy-backend/src/proposal/proposal.service.ts
  backend/vizzy-backend/src/proposal/tests/proposal.controller.spec.ts
  backend/vizzy-backend/supabase/config.toml
  backend/vizzy-backend/supabase/seeds/profiles.sql
  backend/vizzy-backend/supabase/seeds/proposals.sql
Labels: backend

#240 test: profile integration tests
  backend/vizzy-backend/src/dtos/profile/update-profile.dto.ts
  backend/vizzy-backend/src/profile/tests/integration/profile.database-helper.integration-spec.ts
  backend/vizzy-backend/src/profile/tests/unit/profile.controller.spec.ts
  backend/vizzy-backend/src/profile/tests/unit/profile.service.spec.ts
Labels: backend

#241 test: listing integration tests
  backend/vizzy-backend/src/dtos/listing/create-listing.dto.ts
  backend/vizzy-backend/src/dtos/listing/sale-listing.dto.ts
  backend/vizzy-backend/src/listing/tests/integration/listing.database-helper.integration-spec.ts
  backend/vizzy-backend/src/listing/tests/unit/listing.controller.spec.ts
  backend/vizzy-backend/src/listing/tests/unit/listing.service.spec.ts
  backend/vizzy-backend/supabase/seeds/listing_statuses.sql
  backend/vizzy-backend/supabase/seeds/listing_types.sql
Labels: backend

#242 test: integration tests
  backend/vizzy-backend/src/proposal/tests/integration/proposal.database-helper.integration-spec.ts
  backend/vizzy-backend/src/proposal/tests/unit/proposal.controller.spec.ts
  backend/vizzy-backend/src/proposal/tests/unit/proposal.service.spec.ts
Labels: backend

#243 fix: exception errors
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
Labels: backend

#244 fix: Fixed listing creation errors
  backend/vizzy-backend/src/dtos/listing/create-listing.dto.ts
  frontend/vizzy/lib/api/core/client.ts
  frontend/vizzy/lib/api/listings/create-listing.ts
  frontend/vizzy/lib/api/listings/upload-listing-images.ts
Labels: backend

#246 fix: cancelled filter in dashboard
  frontend/vizzy/app/dashboard/dashboard-page-client.tsx
  frontend/vizzy/app/dashboard/layout/proposals-page.tsx
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/components/proposals/cancel-proposal-dialog.tsx
  frontend/vizzy/components/proposals/proposal-card.tsx
  frontend/vizzy/components/ui/common/badge.tsx
  frontend/vizzy/lib/api/proposals/fetch-user-proposals.ts
Labels: frontend

#245 feat: invalidate user listings cache
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/listing/tests/unit/listing.service.spec.ts
Labels: backend

#248 feat: translations for proposal status
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/app/listing/[id]/page.tsx
  frontend/vizzy/components/proposals/proposal-card.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
Labels: frontend
