Repository Basiiii/Vizzy, pull requests merged in 2025-05, with the labels that each got.

#250 feat: update listing endpoint
  backend/vizzy-backend/src/dtos/listing/listing-images.dto.ts
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/listing/helpers/listing-image.helper.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/listing/tests/unit/listing.controller.spec.ts
  frontend/vizzy/lib/api/listings/upload-listing-images.ts
Labels: backend

#251 feat: image preview on swap proposals
  backend/vizzy-backend/src/proposal/proposal.controller.ts
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/components/ui/overlay/image-preview-dialog.tsx
  frontend/vizzy/lib/api/proposals/upload-proposal-images.ts
Labels: frontend

#252 feat: delete listing
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
Labels: enhancement, backend

#253 feat: pagination on listings page
  backend/vizzy-backend/src/listing/tests/unit/listing.service.spec.ts
  frontend/vizzy/app/dashboard/layout/listings-page.tsx
  frontend/vizzy/components/ui/navigation/pagination.tsx
Labels: frontend

#255 feat: profile card
  backend/vizzy-backend/src/dtos/listing/listing.dto.ts
  backend/vizzy-backend/src/listing/tests/unit/listing.service.spec.ts
  frontend/vizzy/app/listing/[id]/page.tsx
  frontend/vizzy/components/profiles/profile-card.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
  frontend/vizzy/types/listing.ts
  frontend/vizzy/types/profile.ts
Labels: enhancement, frontend

#260 docs: update sequence diagrams
  specification/diagrams/sequence-diagrams.vpp
Labels: documentation

#261 fix: class diagram
  specification/diagrams/class-diagram.vpp
Labels: documentation

#263 refactor: listing images
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/listing/helpers/listing-image.helper.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/listing/tests/integration/listing.database-helper.integration-spec.ts
  frontend/vizzy/components/listings/create-listing-dialog.tsx
Labels: backend

#264 feat: recent sales component
  frontend/vizzy/app/dashboard/components/recent-sales.tsx
  frontend/vizzy/app/dashboard/components/user-balance.tsx
  frontend/vizzy/app/dashboard/layout/overview-page.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
Labels: enhancement, frontend

#265 fix: listing main image url
  backend/vizzy-backend/src/listing/helpers/listing-image.helper.ts
Labels: backend

#267 fix: fix avatar upload
  frontend/vizzy/app/settings/components/profile-picture.tsx
  frontend/vizzy/lib/api/profile/avatar.ts
Labels: frontend

#270 fix: bpmn diagrams
  specification/diagrams/.$system-architecture.drawio.bkp
  specification/diagrams/activity-diagram-rentals.vpp
  specification/diagrams/bpmn-giveaway.vpp
  specification/diagrams/bpmn-rentals.vpp
  specification/diagrams/bpmn-sales.vpp
  specification/diagrams/bpmn-swaps.vpp
  specification/images/bpmn-giveaway.png
  specification/images/bpmn-rentals.png
  specification/images/bpmn-sales.png
  specification/images/bpmn-swaps.png
Labels: documentation

#271 fix: activity diagrams
  specification/diagrams/activity-diagram-giveaway.vpp
  specification/diagrams/activity-diagram-rentals.vpp
  specification/diagrams/activity-diagram-sales.vpp
  specification/diagrams/activity-diagram-swap.vpp
  specification/images/activity-diagram-giveaway.png
  specification/images/activity-diagram-rentals.png
  specification/images/activity-diagram-sales.png
  specification/images/activity-diagram-swaps.png
Labels: documentation

#269 feat: update listing
  backend/vizzy-backend/src/dtos/listing/listing.dto.ts
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/listing/listing.controller.ts
  backend/vizzy-backend/src/listing/listing.service.ts
  backend/vizzy-backend/src/listing/tests/integration/listing.database-helper.integration-spec.ts
  backend/vizzy-backend/src/listing/tests/unit/listing.service.spec.ts
  frontend/vizzy/app/dashboard/components/recent-sales.tsx
  frontend/vizzy/app/dashboard/components/user-balance.tsx
  frontend/vizzy/app/listing/[id]/page.tsx
  frontend/vizzy/components/listings/update-listing-dialog.tsx
  frontend/vizzy/lib/api/listings/update-listing.ts
  frontend/vizzy/lib/api/listings/upload-listing-images.ts
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
  frontend/vizzy/types/create-listing.ts
  frontend/vizzy/types/listing.ts
Labels: enhancement, frontend

#273 docs: mockups
  specification/mockups/Dashboard - Dark.png
  specification/mockups/Dashboard - Light.png
  specification/mockups/Login - Dark.png
  specification/mockups/Login - Light.png
  specification/mockups/Proposals - Dark.png
  specification/mockups/Proposals - Light.png
  specification/mockups/Recover Password - Dark.png
  specification/mockups/Recover Password - Light.png
  specification/mockups/Reset Password - Dark.png
  specification/mockups/Reset Password - Light.png
  specification/mockups/Signup - Dark.png
  specification/mockups/Signup - Light.png
  specification/mockups/create-listing-dark.png
  specification/mockups/create-listing-light.png
  specification/mockups/create-listing.png
  specification/mockups/create-proposal-dark.png
  specification/mockups/create-proposal-light.png
  specification/mockups/dashboard-lisings-light.png
  specification/mockups/dashboard-listings-dark.png
  specification/mockups/home-page-dark.png
  specification/mockups/home-page-light.png
Labels: documentation

#274 fix: home listings not showing under no auth
  frontend/vizzy/components/marketplace/filters-section.tsx
  frontend/vizzy/components/marketplace/marketplace.tsx
  frontend/vizzy/components/marketplace/search-bar.tsx
  frontend/vizzy/hooks/use-listings.ts
  frontend/vizzy/lib/actions/user/location-action.ts
  frontend/vizzy/lib/api/listings/fetch-public-listings.ts
Labels: frontend

#276 fix: login toast errors
  frontend/vizzy/app/auth/login/components/user-login-form.tsx
  frontend/vizzy/lib/actions/auth/login-action.ts
Labels: enhancement

#279 feat: update user menu
  frontend/vizzy/components/layout/nav-bar/user-menu.tsx
Labels: enhancement

#282 fix: small dashboard details
  frontend/vizzy/app/dashboard/components/recent-sales.tsx
  frontend/vizzy/app/dashboard/components/user-balance.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
  frontend/vizzy/package-lock.json
  frontend/vizzy/package.json
Labels: frontend

#283 feat: profile hover card
  backend/vizzy-backend/src/dtos/proposal/proposal-response.dto.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.helper.ts
  backend/vizzy-backend/src/proposal/helpers/proposal-database.types.ts
  backend/vizzy-backend/src/proposal/tests/unit/proposal.service.spec.ts
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/components/profiles/profile-hover-card.tsx
  frontend/vizzy/types/proposal-response.ts
  frontend/vizzy/types/proposal.ts
  src/proposal/tests/unit/proposal.service.spec.ts
Labels: frontend, backend

#284 feat: dashboard graph
  frontend/vizzy/app/dashboard/components/overview.tsx
  frontend/vizzy/lib/api/overview/get-user-overview.ts
  frontend/vizzy/lib/utils/supabase/client.ts
  frontend/vizzy/lib/utils/supabase/server.ts
  frontend/vizzy/lib/utils/token/get-server-user-action.ts
Labels: enhancement, frontend

#285 feat: owner details on listing card
  backend/vizzy-backend/src/dtos/listing/listing-basic.dto.ts
  backend/vizzy-backend/src/listing/helpers/listing-database.helper.ts
  backend/vizzy-backend/src/listing/tests/unit/listing.controller.spec.ts
  backend/vizzy-backend/src/listing/tests/unit/listing.service.spec.ts
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/components/listings/listing-card-normal.tsx
  frontend/vizzy/components/profiles/profile-hover-card.tsx
  frontend/vizzy/types/listing.ts
Labels: frontend, backend

#287 feat: proposal details translations
  frontend/vizzy/app/dashboard/proposals/[id]/proposal-details/page.tsx
  frontend/vizzy/components/proposals/cancel-proposal-dialog.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
Labels: frontend

#291 fix: dahsboard translation conflicts
  frontend/vizzy/app/dashboard/dashboard-page-client.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
Labels: frontend

#292 feat: add favorites to user menu
  frontend/vizzy/components/layout/nav-bar/user-menu.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
Labels: frontend

#293 feat: home page translations
  frontend/vizzy/app/dashboard/layout/favorites-page.tsx
  frontend/vizzy/components/marketplace/filters-section.tsx
  frontend/vizzy/components/marketplace/marketplace.tsx
  frontend/vizzy/components/marketplace/search-bar.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
Labels: frontend

#294 fix: routes
  frontend/vizzy/app/landing/page.tsx
  frontend/vizzy/components/layout/footer.tsx
  frontend/vizzy/lib/constants/routes/routes.ts
Labels: frontend

#296 feat: add toasts to the favorites
  frontend/vizzy/app/dashboard/layout/favorites-page.tsx
  frontend/vizzy/app/dashboard/layout/listings-page.tsx
  frontend/vizzy/app/listing/[id]/page.tsx
  frontend/vizzy/components/marketplace/filters-section.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
Labels: frontend

#297 feat: last commit (we hope.)
  frontend/vizzy/app/listing/[id]/page.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
Labels: frontend

#299 feat: landing page translations
  frontend/vizzy/app/landing/page.tsx
  frontend/vizzy/messages/en.json
  frontend/vizzy/messages/pt.json
Labels: frontend
